@media only screen and (min-width:768px){
    .drawer__inner {
  height: 95% !important;
  position: fixed !important;
  top:20px !important;
  right:20px !important;
  border-radius: 8px !important;
}
}

.drawer__header{
  border-bottom: 1px solid #CCD2D6 !important;
  background-color:#fff !important;
}

.free-shipping-goal__label{
    color: #4A3A36 !important;
}

.progress-bar, .progress-bar::before{
    color:#D06834 !important;
}

.drawer__content{
  background-color: #f5f5f5 !important;
}


/*.drawer__body{
    background-color: #f5f5f5 !important;
}*/

.free-shipping-goal, cart-items{
    border:1px solid #CCD2D6 !important;
    background-color: #FFFFFF !important;
    border-radius: 8px !important;
    padding:12px !important;
}

.dc_cart-line-separator{
    display: block !important;
    height: 1px;
  width: 98%;
  background-color: #CCD2D6;
  margin: 0px auto;
}

.drawer__body{
  flex-grow: 0 !important;
}

.cart-drawer-products-recommendation{
background-color: #f5f5f5 !important;
  border:none !important;
}

.swiper-pagination{
    display:none 
    !important;
}

.pcard-radius{
  border-radius: 8px !important;
}


.drawer__footer{
  margin-top: auto !important;
  background-color: #fff !important;
}





