@media only screen and (min-width:768px){
    #CartDrawer .drawer__inner {
  height: 95% !important;
  position: fixed !important;
  top:20px !important;
  right:20px !important;
  border-radius: 8px !important;
  max-width: 400px !important;
}
}

@media only screen and (max-width:767px){
    #CartDrawer .drawer__inner {
  max-width: var(--modal-width, 35rem) !important;
}

.cart-item__details a{
    font-size: 14px !important;

}
}

.free-shipping-goal__label{
    font-size: 14px !important;
}

.drawer__inner .price{
  color:#D06834 !important;
  font-weight: 600 !important;
}

.drawer__header{
  border-bottom: 1px solid #CCD2D6 !important;
  background-color:#fff !important;
}

.free-shipping-goal__label{
    color: #4A3A36 !important;
}

.progress-bar, .progress-bar::before{
    color:#D06834 !important;
}

.dc_card-radius{
    border-radius: 8px !important;
}

.drawer__content{
  background-color: #f5f5f5 !important;
}

.free-shipping-goal, cart-items{
    border:1px solid #CCD2D6 !important;
    background-color: #FFFFFF !important;
    border-radius: 8px !important;
    padding:12px !important;
}

.dc_cart-line-separator{
    display: block !important;
    height: 1px;
  width: 98%;
  background-color: #CCD2D6;
  margin: 0px auto;
}

.drawer__body{
  flex-grow: 0 !important;
}

.cart-drawer-products-recommendation{
background-color: #f5f5f5 !important;
  border:none !important;
}


.swiper-pagination{
    display:none 
    !important;
}

.product-card{
  background-color: #fff !important;
  border-radius: 8px !important;
  border: 1px solid #E1E5E9 !important;
}

.product-card__wrapper{
  column-gap:10px !important;
}

.dc_product-card{
  align-items: flex-start;
  background-color: #fff;
  border:1px solid #E1E5E9;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap:10px;
  padding: 8px;
}

.dc_product-card__info{
  display: flex;
  gap:8px;
  flex-direction: column;
  align-items: flex-start;
  flex:1.5;
}

.dc_product-text-price__container{
  display: flex;
  flex-direction: column;
  gap:0px;
}

.dc_product-title, .dc_product-price{
  font-size:14px;
  font-weight: 700;
  margin:0px;
  line-height: 130%;
}

.dc_product-price{
  color:#D06834;
  font-weight: 600;
}

.dc_product-card__image-wrapper{
  border:1px solid #E1E5E9;
  border-radius: 8px;
  flex: 1;
  max-width: 100px;
}
.dc_product-card__image-wrapper img{
  border-radius: 8px;
}

.dc_product-card__btn{
  background-color: #fff;
  border:1px solid #E1E5E9;
  border-radius: 100px;
  color:#4A3A36;
  font-size:14px;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
}

.dc_product-card__btn:hover{
  background-color: #D06834;
  color:#fff;
  border-color:#D06834;
  transition: 0.3s;
}

.product-card__info,.product-card__info h3 {
  color:#4A3A36 !important;
}



.reversed-link__text:hover {
  color:#4A3A36 !important;
}

.product-card__title{
  line-height: 1 !important;
}

.product-card__info{
gap: 0 !important;
}


.dc_btn__text{
  font-size: 14px ;
  text-transform: uppercase !important;
}


.drawer__footer{
  margin-top: auto !important;
  background-color: #fff !important;
}


.f-price__regular{
  color:#D06834 !important;
}

.dc_cart-footer{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dc_checkout_btn{
  border-color: #222 !important;
  border-radius: 8px !important;
  background-color: #222 !important;
}

.dc_checkout_btn:hover{
  border-color: #222 !important;
  color: #222 !important;
}
