.dc_reviews-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 16px;
    text-align: center;
    font-family: sans-serif;
  }

  .dc_reviews-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  @media only screen and (max-width:748px){
    .dc_reviews-section h2 {
    font-size: 24px;
    }
  }

  .dc_review_card {
    padding: 0px;
   /* display: inline-block;*/
   display: flex;
   flex-direction: column;
   gap: 12px;
    width: 100%;
    box-sizing: border-box;
    break-inside: avoid; /* prevents breaking inside columns */
  }

  .dc_review_card img {
    border-radius: 12px;
  }

  .dc_review_inner-card{
    background-color: #fff;
    border-radius: 8px;
    padding:16px;
  }

  .dc_review-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
  }

  .dc_review_inner-card p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
  }

  
  .dc_review-stars {
      color: #ff7a00;
      font-size: 13px;
    }
    
    .dc_review-date {
        color: #888;
    }

    .dc_review-buyer {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    text-align: left;
  }

  .dc_review-verified-badge {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
    text-transform: capitalize;
  }
    
    @media only screen and (max-width:748px) {
      .dc_review-header, .dc_review-date  {
      font-size: 12px;
        }
    .dc_review-stars {
      color: #ff7a00;
      font-size: 10px;
        }

    .dc_review_inner-card p{
        font-size: 12px;
        }

    .dc_review-buyer {
    font-size: 14px;
  }
    }




  /*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

  .masonry {
    column-count: 4; /* number of columns */
    column-gap: 12px; /* horizontal spacing */
  }

  @media (max-width: 900px) {
    .masonry {
      column-count: 2;
    }
  }



  